@font-face {
  font-family: 'StarWarsFont';
  src: url('../assets/Starjedi.ttf') format('truetype');
}

.peopleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
}

.buttonsPage button {
  font-size: 1.2rem;
  background-color: #010102;
  color: yellow;
  padding: 0.8rem;
  border: none;
  border-radius: 0.9rem;
  cursor: pointer;
}

.buttonsPage button:hover {
  background-color: #28333c;
  border: 1px solid black;
}
