@font-face {
  font-family: 'StarWarsFont';
  src: url('../assets/Starjedi.ttf') format('truetype');
}

.header {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.header h1 {
  color: yellow;
  font-family: 'StarWarsFont', 'sans-serif';
  font-size: 2.4rem;
}

.header h2,
.header h3 {
  color: yellow;
  font-family: 'StarWarsFont', 'sans-serif';
  font-weight: 100;
}

.header h3 {
  margin-bottom: 4rem;
}

.inputFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #34796a;
  width: 50%;
  border-radius: 0.9rem;
  gap: 2rem;
  padding: 1rem;
}

.pesquisarContainer {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.pesquisarButton {
  border: none;
  color: yellow;
  padding: 0.7rem 1.8rem;
  border-radius: 0.9rem;
}

.inputContainer p {
  color: yellow;
}

.inputFilter input {
  border: none;
  border-radius: 9px;
  padding: 0.5rem 1.8rem;
  font-size: 1rem;
}

.inputFilter p {
  color: white;
}

.button_slide {
  border: 1px solid #010102;
  border-radius: 0.9rem;
  padding: 0.5rem 1.8rem;
  display: inline-block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #34796a;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #010102;
}

.inputContainer a {
  text-decoration: none;
  color: yellow;
}

.peopleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
