.header {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: #34796a;
  font-size: 2.4rem;
}

.inputFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.inputFilter input {
  border: 0.5px solid #34796a;
  border-radius: 9px;
  padding: 1rem 1.8rem;
  background-color: #010102;
  color: #34796a;
  text-align: left;
  font-size: 1rem;
}

.peopleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
